					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Dashboard</h1>
					</div>
					<div class="w-100 titoloSezione" ng-init="home.init();">Topology</div>
					<!-- div class="w-100" id="mynetwork"></div-->
					<vis-network data="home.data" options="home.options"></vis-network>
					
					<!--div class="w-100 titoloSezione">Status</div>
					<div class="w-100" id="statusChart"></div-->
					
					<vis-graph2d data="home.dataStatus" options="home.optionsStatus"></vis-graph2d>
					
					<div class="w-100 titoloSezione">Node Details</div>
					
					<div class="w-100" id="nodeDetail">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Property</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in home.nodeProperties">
									<td>{{item.name}}</td>
									<td>{{item.value}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="w-100 titoloSezione">Technical Node Details</div>
					<div class="w-100" id="nodeTechDetail">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th>Property</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in home.nodeTechDetails">
									<td>{{item.name}}</td>
									<td>{{item.value}}</td>
								</tr>
							</tbody>
						</table>
					</div>