					<style type="text/css">
						#page{
							width:100%;
							border:none;
						}
						#main{
							padding:0!important;
						}
					</style>
					<!-- div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Services LC and instances</h1>
					</div-->
					<!-- div class="w-100 titoloSezione" ng-init="services.init();">TBD</div-->
					<iframe id="page" src="/sm/" ></iframe>
				<script>
					$("#page").css("height", $('.sidebar-sticky').outerHeight());
					var iframe = document.getElementById("page");
					
					$(document).ready(function(){
						var iFrameDOM = $("iframe#page").contents();

						//console.log(iFrameDOM.find("body"));
					});
				</script>